*{
	font-family: "Nunito", 'Raleway', "Open Sans", "Roboto", sans-serif;
}

header{
	text-align: center;
	background-color: #B8C9F1;
	padding: 0% 10% 0% 10%;
}

.header-title{
	font-weight: 900 !important; 
}

.container{
	color: #4f4f4f;
	margin-top: 2.5%;
	text-align: center;

}

.card{
	margin-bottom: 5%;
}

/* .card{
	width: 25%;
	text-align: center;
	display: inline-flex;
	margin-right: 7.5%;
} */

.card-title{
	font-size: 22px;
	font-weight: 500;
} 

.btn{
	margin-top: 15%;
}
