body {
  background-color: #404EED;
  background-image: url(/img/clouds.svg);
  text-rendering: optimizeLegibility;
  font-family: Consolas,Whitney,Ginto Nore,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.15;
  color:#fff;
}
.svg{
  position: absolute;
  left: -350px;
  top: 273px;
  z-index: -1;
}
.header {
  font-size: 28px;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #5662f6;
  color: #fff;
  padding-left: 2.5%;
  margin-top: 0px;
  padding-top: -5%;
  display: block;
  z-index: 1;
}

#margin-html {
  margin-left: 55%;
}

.link{
  color: #fff;
}

.link:hover{
  color: #DD4F43;
}

.heading {
  margin-top: 7.5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.heading h1 {
  text-transform: uppercase;
}

a {
  color: #DD4F43;
  text-decoration: none;
}

p {
  display: inline;
}

.content {
  margin-top: 7.5%;
  margin-left: 7.5%;
  margin-right: 7.5;
  text-align: center;
  display: flex;
}

ol {
  border: 6px solid #23272A;
  border-radius: 16px;
  width: 30%;
  height: 250px;
  background-color: rgba(14, 15.5, 16.5, 30%);
  margin-right: 1.5%;
}

ol:hover {
  transition: 0.8s;
  transform: scale(1.09);
}

h2 {
  text-transform: uppercase;
}

li{
  margin-bottom: 5%;
}

#line{
  text-decoration: underline;
}

.author{
  display: block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  ol {
    width: 90%;
  }

  .header{
    height: auto;
    font-size: 22px;
  }

  .content{
    display: block;
  }

  #margin-html {
    margin-left: 20%;
  }

}